# SQL Server Driver
SQLSERVER_DRIVER={ODBC Driver 17 for SQL Server}

# HR Database (SQL Server)
HR_DB_SERVER=localhost:1433
HR_DB_NAME=HUMAN
HR_DB_USER=sa
HR_DB_PASSWORD=Ilovedu20@

# Payroll Database (MySQL)
PAYROLL_DB_HOST=localhost
PAYROLL_DB_PORT=3306
PAYROLL_DB_NAME=payroll
PAYROLL_DB_USER=root
PAYROLL_DB_PASSWORD=Ilovedu20@

# Auth Database (MySQL)
AUTH_DB_HOST=localhost
AUTH_DB_PORT=3306
AUTH_DB_NAME=auth_db
AUTH_DB_USER=root
AUTH_DB_PASSWORD=Ilovedu20@
